body {
    background-color: antiquewhite ;
    background-image: url(        "https://images.gamme.com.tw/movie/2018/637/l5iXoKSZlp6oraCW.jpg");
    background-size: cover;
    
}
p {
    color : deepskyblue
}